
body {
  margin: 0px;
}
#indexhtml, #origamihtml, #sewinghtml, #drawinghtml, #abouthtml, #eventshtml {
  background-color: darkslategray;
}
h1 {
  font-size: 40px;
  font-family: oswald, serif;
}
h2 {
  text-align: center;
  font-size: 40px;
  color: royalblue;
}
h3 {
  text-align: center;
  font-size: 30px;
  color: limegreen;
}
p {
  color: white;
}
img, iframe {
  display: block;
  margin: auto;
  border: 2px solid royalblue;
}
#index, #origami, #sewing, #drawing, #about, #events {
  background-color: darkslategray;
  margin: 0px;
}
#home {
  /* background-image: url("https://i.ytimg.com/vi/_fVT75SDoq0/maxresdefault.jpg"); */
  background-image: url("https://fthmb.tqn.com/1_i_pAf2pjY7dionKadYE1D7iTE=/1500x1126/filters:fill(auto,1)/creepy-halloween-56a6edde3df78cf77291043d.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  padding: 20px;
  height: 500px;
  padding-top: 60px;
}
#origamihome {
  /* background-image: url("https://i.ytimg.com/vi/FTrTUjwG6r4/maxresdefault.jpg"); */
  background-image: url("https://fthmb.tqn.com/1_i_pAf2pjY7dionKadYE1D7iTE=/1500x1126/filters:fill(auto,1)/creepy-halloween-56a6edde3df78cf77291043d.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  padding: 20px;
  height: 500px;
  padding-top: 60px;
}
#sewinghome {
  /* background-image: url("https://i.ytimg.com/vi/GEy87p7SfgY/maxresdefault.jpg"); */
  background-image: url("https://fthmb.tqn.com/1_i_pAf2pjY7dionKadYE1D7iTE=/1500x1126/filters:fill(auto,1)/creepy-halloween-56a6edde3df78cf77291043d.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  padding: 20px;
  height: 500px;
  padding-top: 60px;
}
#drawinghome {
  /* background-image: url("https://i.ytimg.com/vi/wPFBD14Pa4E/maxresdefault.jpg"); */
  background-image: url("https://fthmb.tqn.com/1_i_pAf2pjY7dionKadYE1D7iTE=/1500x1126/filters:fill(auto,1)/creepy-halloween-56a6edde3df78cf77291043d.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  padding: 20px;
  height: 500px;
  padding-top: 60px;
}
#abouthome {
  /* background-image: url("https://i.ytimg.com/vi/4jYOOk-cJj0/maxresdefault.jpg"); */
  background-image: url("https://fthmb.tqn.com/1_i_pAf2pjY7dionKadYE1D7iTE=/1500x1126/filters:fill(auto,1)/creepy-halloween-56a6edde3df78cf77291043d.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  padding: 20px;
  height: 500px;
  padding-top: 60px;
}
#eventshome {
  /* background-image: url("https://i.ytimg.com/vi/OrPUcQFD2sA/maxresdefault.jpg"); */
  background-image: url("https://fthmb.tqn.com/1_i_pAf2pjY7dionKadYE1D7iTE=/1500x1126/filters:fill(auto,1)/creepy-halloween-56a6edde3df78cf77291043d.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  padding: 20px;
  height: 500px;
  padding-top: 60px;
}
#begin {
  font-family: 'Oswald';
  width: 800px;
  margin: 0 auto;
}
#begin a {
  color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  left: 0px;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: oswald, serif;
}
ul li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
